<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014 12:14</time>
            <h2><a href="/">My First Post</a></h2>
            <p>my first post entry...blah blah</p>
        </article>

        <article>
            <time>published: 15.06.2014 12:14</time>
            <h2><a href="/">My Second Post</a></h2>
            <p>my second post entry...blah blah</p>
        </article>
    </body>
</html>